body {
    margin: 0;
    font-family:monospace;
    text-align:center;
    height: 100vh;
    width: 100vw;
    background-image: url("assets/pexels-miguel-á-padriñán-19670.jpg");
    background-size: cover;
    overflow: hidden;
}
#title{
    margin-left: 20px;
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
}
.name input{
    z-index: 100000;
    height: 35px;
    margin-right: 20px;
}
.namee{
    font-size: 2rem;
}
#enter{
    height: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:22px;
    background-color: #fac750;
    border:2px solid black;
    padding:10px 30px 5px;
    line-height:20px;
    outline:none;
}
#home{
    border: 2px solid black;
    background-color: #fac750;
    font-size: 22px;
    padding:9px 10px 5px;
}
#mainContainer {
    width:100vw;
    height:100vh;
    background-image: url("assets/pexels-kampus-production-6540677.jpg");
    transform-origin:0% 0%;
    position:absolute;
    width:100%;
    top:0;
    left:0;
}

#score {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    text-align:center;
    margin-top: 60px;
    font-size:60px;
    font-weight:900;
    color:#FF0700;
}
#nickname {
    position:absolute;
    width: 100%;
    top:0;
    left:0;
    text-align:center;
    font-size:30px;
    margin: 30px 0px 10px 0px;
    font-weight:900;
    color:#000;
}
.home{
    left: 10%;
}
#showPoint {
    position:absolute;
    top:0;
    left:0;
    background:transparent;
    margin:0;
}

#showPoint .u{
    position:absolute;
    display:inline-block;
    top:50%;
    left:70%;
    font-size:30px;
    font-family:arial;
    opacity:0;
    transition:top 0.1s linear,left 0.1s linear
}

#animCanvas {
    position:absolute;
    height: 100vh;
    width: 100vw;
     top:0;
    left:0; 
    z-index:100; 
    color: white;
    border-bottom:1px solid blue;
}

#arrs {
    font-size:30px;
    text-align:left;
    position:absolute;
    margin:0;
    top:0;
    padding-left:10px;
}

#startMenu {
    background-image: url(assets/pexels-kampus-production-6540677.jpg);
    background-size: cover;
    position:absolute;
    top:0;
    left:0;
    z-index:1000;
    width:100vw;
    height:100vh;
}

#startMenu h1 {
    font-size:50px;
    text-shadow:2px 3px #aaa;
    font-weight:900;
}

#startMenu h2 {
    font-size:25px;
}
#startBtn{
    margin-left: 30px;
    font-size:22px;
    background-color: #fac750;
    border:2px solid black;
    padding:10px 30px 5px;
    line-height:20px;
    outline:none;
}

#timerDiv {
   height:8px;
   padding:0px;
   border:2px solid blue;
   width:50%;
   position:absolute;
   bottom:20px;
   left:25%;
   border-radius:20px;
}
           
.timer {
   height:8px;
   width:0%;
   background:red;
   animation: countTime 4.5s linear 1;
   animation-delay:0.5s;
   border-radius:20px;
}
           
@keyframes countTime {
   0% {
       width: 100%;
       background-color: lime;
   }
   50% {
       background-color:yellow;
   }
   100% {
       width: 0%;
       background-color: red;
   }
}

@media screen and (max-width:1000px){
    body{
        height: auto;
        width: auto;
        overflow: hidden;
    }
    .name{
        flex-direction: column;
    }
    .name input{
        height: 30px;
        margin-left: 17px;
    }
    .namee{
        font-size: 1.2rem;
        font-weight: 800;
    }
    #enter{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 15px;
        height: 30px;
        width: 50px;
    }
    #startBtn{
        margin-top: 60px;
        font-weight: 1000;
        font-family: 'Times New Roman', Times, serif;
    }
    #save{
        font-size: 1rem;
        font-weight: 1000;
        font-family: 'Times New Roman', Times, serif;

    }
}